<ion-content>
  <app-header></app-header>
  <app-logo></app-logo>

  <h2 class="ion-text-center ion-no-margin">Login</h2>

  <div class="content">
    <div class="d-flex-center">
      <form
        (keyup.enter)="submit()"
        class="ion-text-center"
        [formGroup]="form"
        (ngSubmit)="submit()"
      >
        <app-custom-input
          [control]="form.get('email')"
          type="email"
          label="Email"
          icon="mail-outline"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.get('email').errors && form.get('email').dirty"
        >
          <div *ngIf="form.get('email').errors?.['required']">
            Enter your email
          </div>
          <div *ngIf="form.get('email').errors?.['email']">
            Enter valid email
          </div>
        </div>
        <app-custom-input
          [control]="form.get('password')"
          type="password"
          label="Password"
          icon="lock-closed-outline"
        ></app-custom-input>
        <div
          class="validators"
          *ngIf="form.get('password').errors && form.get('password').dirty"
        >
          <div *ngIf="form.get('password').errors?.['required']">
            Enter your password
          </div>
        </div>
        <ion-button
          class="ion-margin-vertical"
          [disabled]="form.invalid"
          type="submit"
          shape="round"
        >
          Login
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
        <div class="sign-up">
          <div>Don't have an account?</div>
          <ion-button class="ion-margin-vertical" shape="round">
            Register
            <ion-icon slot="end" name="person-add-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
