<ion-content>
  <app-header></app-header>
  <app-logo></app-logo>

  <h2 class="ion-text-center ion-no-margin">Login</h2>

  <div class="content">
    <div class="d-flex-center">
      <form (keyup.enter)="submit()" class="ion-text-center" [formGroup]="form" (ngSubmit)="submit()">
        <app-custom-input [control]="form.get('email')" type="email" label="Correo" icon="mail-outline"
          autocomplete="email"></app-custom-input>
        <div class="validators" *ngIf="form.get('email').errors && form.get('email').dirty">
          <div *ngIf="form.get('email').errors?.['required']">
            Ingresa tu correo
          </div>
          <div *ngIf="form.get('email').errors?.['email']">
            Correo invalido
          </div>
        </div>
        <app-custom-input [control]="form.get('password')" type="password" label="Contraseña"
          icon="lock-closed-outline"></app-custom-input>
        <div class="validators" *ngIf="form.get('password').errors && form.get('password').dirty">
          <div *ngIf="form.get('password').errors?.['required']">
            Ingresa tu contraseña
          </div>
        </div>
        <ion-button class="ion-margin-vertical" [disabled]="form.invalid" type="submit" shape="round">
          Login
          <ion-icon slot="end" name="log-in-outline"></ion-icon>
        </ion-button>
        <div class="sign-up">
          <div>¿No tienes una cuenta?</div>
          <ion-button routerLink="sign-up" class="ion-margin-vertical" shape="round">
            Registro
            <ion-icon slot="end" name="person-add-outline"></ion-icon>
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>